<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div id="login-box">
					<div id="login-box-holder">
						<div class="row">
							<div class="col-xs-12">
								<header id="login-header">
									<div id="login-logo">
										
									</div>
								</header>
								<div id="login-box-inner">
									
										
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-user"></i></span>
											<input class="form-control" type="text" id="name" name="name" placeholder="Identificador">
										</div>
{# 										<div class="input-group">#}
{# 											<span class="input-group-addon"><i class="fa fa-user"></i></span>#}
{# 											<input class="form-control" name="{{ form.email.vars.full_name }}"  type="text" placeholder="Email">#}
{# 										</div>#}
										<div class="row">
											<div class="col-xs-12">
												<button type="submit"  onclick="goEvent({{ idEvent }})"  class="btn btn-success col-xs-12">Generar</button>
											</div>
										</div>
{# 										<div class="row">#}
{# 											<div class="col-xs-12 ">#}
{# 												<button  onclick="goEvent({{ idEvent }})" class="btn btn-primary col-xs-12 btn-facebook">#}
{# 													<i class="fa fa-facebook"></i> facebook#}
{# 												</button>#}
{# 											</div>#}
											
{# 										</div>#}
									
								</div>
							</div>
						</div>
					</div>
					
					
				</div>
			</div>
		</div>
	</div>