{% extends 'layout_formulario_html.twig' %}

{% block form_title %}{% trans %}crear.role{% endtrans %}{% endblock %}

{% block form -%}
<div class="box-wrap clear">
    <form action="{{ path('admin_role_create') }}" method="post" {{ form_enctype(form) }} class="validate-form form bt-space15">
        {%  include 'RoleBundle:Role:layoutRole.html.twig' with {'form': form} %}
        <p>
            <button type="submit" class="button template">{% trans %}crear{% endtrans %}</button>
        </p>
    </form>
    <p style="float: right;" class="clear">
     		<a href="{{ path('admin_role') }}" type="button" class="button template">{% trans %}volver{% endtrans %}</a>
     </p>
</div>
{% endblock %}
