<div class="main-box-body clearfix">
											<div class="conversation-wrapper">
												<div class="conversation-content">
													<div class="conversation-inner">		
									
									<div class="main-box clearfix profile-box-menu">
										<div class="main-box-body clearfix">
											
											<div class="profile-box-header green-bg clearfix" style="background-image: url(img/eventos/flyer_malvinas.jpg);">
												<img src="{{ asset('bundles/cube/img/eventos/logo_malvinas.jpg') }}"alt="" class="profile-img img-responsive" />
												<h2 style="color: black;">Heroes de Malvinas</h2>
												<div class="job-position" style="color: black;">
													19.04.15
												</div>
											</div>
											
											<div class="profile-box-content clearfix">
												<ul class="menu-items">
													<li>
														<a href="#" class="clearfix">
															<i class="fa fa-calendar fa-lg"></i> 19.04.15
															<span class="label label-warning label-circle pull-right">12</span>
														</a>
													</li>
													<li>
														<a href="#" class="clearfix">
															<i class="fa fa-map-marker fa-lg"></i> Buenos Aires - Puerto Madero
															<span class="label label-danger label-circle pull-right">82</span>
														</a>
													</li>
													<li>
														<a href="#" class="clearfix">
															<i class="fa fa-user fa-lg"></i> Inscriptos
															<span class="label label-success label-circle pull-right">13</span>
														</a>
													</li>
													<li>
														<div align="center">
														<button type="button" class="btn btn-primary btn-lg">
															<span class="fa fa-reddit"></span> Participar
														</button>
														<button type="button" class="btn btn-primary btn-lg">
															<span class="fa fa-share-alt"></span> Compartir
														</button>
														</div>
													</li>
													
												</ul>
											</div>
										</div>
									</div>
									
									<div class="main-box clearfix profile-box-menu">
										<div class="main-box-body clearfix">
											<div class="profile-box-header green-bg clearfix" style="background-image: url(img/eventos/flyer_malvinas.jpg);">
												<img src="{{ asset('bundles/cube/img/eventos/logo_malvinas.jpg') }}"alt="" class="profile-img img-responsive" />
												<h2 style="color: black;">Heroes de Malvinas</h2>
												<div class="job-position" style="color: black;">
													19.04.15
												</div>
											</div>
											
											<div class="profile-box-content clearfix">
												<ul class="menu-items">
													<li>
														<a href="#" class="clearfix">
															<i class="fa fa-calendar fa-lg"></i> 19.04.15
															<span class="label label-warning label-circle pull-right">12</span>
														</a>
													</li>
													<li>
														<a href="#" class="clearfix">
															<i class="fa fa-map-marker fa-lg"></i> Buenos Aires - Puerto Madero
															<span class="label label-danger label-circle pull-right">82</span>
														</a>
													</li>
													<li>
														<a href="#" class="clearfix">
															<i class="fa fa-user fa-lg"></i> Inscriptos
															<span class="label label-success label-circle pull-right">13</span>
														</a>
													</li>
													<li>
														<div align="center">
														<button type="button" class="btn btn-primary btn-lg">
															<span class="fa fa-reddit"></span> Participar
														</button>
														<button type="button" class="btn btn-primary btn-lg">
															<span class="fa fa-share-alt"></span> Compartir
														</button>
														</div>
													</li>
													
												</ul>
											</div>
										</div>
									</div>
									
									<div class="main-box clearfix profile-box-menu">
										<div class="main-box-body clearfix">
											<div class="profile-box-header green-bg clearfix" style="background-image: url(img/eventos/flyer_malvinas.jpg);">
												<img src="{{ asset('bundles/cube/img/eventos/logo_malvinas.jpg') }}"alt="" class="profile-img img-responsive" />
												<h2 style="color: black;">Heroes de Malvinas</h2>
												<div class="job-position" style="color: black;">
													19.04.15
												</div>
											</div>
											
											<div class="profile-box-content clearfix">
												<ul class="menu-items">
													<li>
														<a href="#" class="clearfix">
															<i class="fa fa-calendar fa-lg"></i> 19.04.15
															<span class="label label-warning label-circle pull-right">12</span>
														</a>
													</li>
													<li>
														<a href="#" class="clearfix">
															<i class="fa fa-map-marker fa-lg"></i> Buenos Aires - Puerto Madero
															<span class="label label-danger label-circle pull-right">82</span>
														</a>
													</li>
													<li>
														<a href="#" class="clearfix">
															<i class="fa fa-user fa-lg"></i> Inscriptos
															<span class="label label-success label-circle pull-right">13</span>
														</a>
													</li>
													<li>
														<div align="center">
														<button type="button" class="btn btn-primary btn-lg">
															<span class="fa fa-reddit"></span> Participar
														</button>
														<button type="button" class="btn btn-primary btn-lg">
															<span class="fa fa-share-alt"></span> Compartir
														</button>
														</div>
													</li>
													
												</ul>
											</div>
										</div>
									</div>
							</div>	</div>	</div>	</div>