
										
										<div class="main-box-body clearfix">
											<div class="conversation-new-message">
													<form>
														<div class="form-group">
															<textarea class="form-control" rows="2" placeholder="Enter your message..."></textarea>
														</div>
														
														<div class="clearfix">
															<button type="submit" class="btn btn-success pull-right">enviar novedad</button>
														</div>
													</form>
												</div>
							<div id="newsfeed">
														<div class="story">
															<div class="story-user">
																<a href="#">
																	<img src="img/samples/robert-300.jpg" alt=""/>
																</a>
															</div>
															
															<div class="story-content">
																<header class="story-header">
																	<div class="story-author">
																		<a href="#" class="story-author-link">
																			Robert Downey Jr.
																		</a>
																		posted a status update
																	</div>
																	<div class="story-time">
																		<i class="fa fa-clock-o"></i> just now
																	</div>
																</header>
																<div class="story-inner-content">
																	Now that we know who you are, I know who I am. I'm not a mistake! 
																	It all makes sense! In a comic, you know how you can tell who the 
																	arch-villain's going to be? He's the exact opposite of the hero. 
																	And most times they're friends, like you and me! I should've known 
																	way back when... You know why, David? Because of the kids. 
																	They called me Mr Glass.
																</div>
																<footer class="story-footer">
																	<a href="#" class="story-comments-link">
																		<i class="fa fa-comment fa-lg"></i> 8320 Comments
																	</a>
																	<a href="#" class="story-likes-link">
																		<i class="fa fa-heart fa-lg"></i> 82k Likes
																	</a>
																</footer>
															</div>
														</div>
														
														<div class="story">
															<div class="story-user">
																<a href="#">
																	<img src="img/samples/angelina-300.jpg" alt=""/>
																</a>
															</div>
															
															<div class="story-content">
																<header class="story-header">
																	<div class="story-author">
																		<a href="#" class="story-author-link">
																			Angelina Jolie
																		</a>
																		checked in at <a href="#">Place du Casino</a>
																	</div>
																	<div class="story-time">
																		<i class="fa fa-clock-o"></i> 3 Minutes ago
																	</div>
																</header>
																<div class="story-inner-content">
																	<div id="map-apple" class="map-content"></div>
																</div>
																<footer class="story-footer">
																	<a href="#" class="story-comments-link">
																		<i class="fa fa-comment fa-lg"></i> 23k Comments
																	</a>
																	<a href="#" class="story-likes-link">
								l										<i class="fa fa-heart fa-lg"></i> 159k Likes
																	</a>
																</footer>
															</div>
														</div>
														
														<div class="story">
															<div class="story-user">
																<a href="#">
																	<img src="img/samples/ryan-300.jpg" alt=""/>
																</a>
															</div>
															
															<div class="story-content">
																<header class="story-header">
																	<div class="story-author">
																		<a href="#" class="story-author-link">
																			Ryan Gossling
																		</a>
																		uploaded 5 new photos to album <a href="#">Bora Bora</a>
																	</div>
																	<div class="story-time">
																		<i class="fa fa-clock-o"></i> 8 Hours ago
																	</div>
																</header>
																<div class="story-inner-content">
																	<div class="story-images clearfix">
																		<a href="img/samples/tahiti-1.jpg" class="story-image-link">
																			<img src="img/samples/tahiti-1.jpg" alt="" class="img-responsive"/>
																		</a>
																		<a href="img/samples/tahiti-2.jpg" class="story-image-link story-image-link-small">
																			<img src="img/samples/tahiti-2.jpg" alt="" class="img-responsive"/>
																		</a>
																		<a href="img/samples/tahiti-3.jpg" class="story-image-link story-image-link-small">
																			<img src="img/samples/tahiti-3.jpg" alt="" class="img-responsive"/>
																		</a>
																		<a href="img/samples/tahiti-3.jpg" class="story-image-link story-image-link-small">
																			<img src="img/samples/tahiti-3.jpg" alt="" class="img-responsive"/>
																		</a>
																		<a href="img/samples/tahiti-2.jpg" class="story-image-link story-image-link-small hidden-xs">
																			<img src="img/samples/tahiti-2.jpg" alt="" class="img-responsive"/>
																		</a>
																	</div>
																</div>
																<footer class="story-footer">
																	<a href="#" class="story-comments-link">
																		<i class="fa fa-comment fa-lg"></i> 46 Comments
																	</a>
																	<a href="#" class="story-likes-link">
																		<i class="fa fa-heart fa-lg"></i> 823 Likes
																	</a>
																</footer>
															</div>
														</div>
													</div>
										</div>
									