

{# Facebook#}
<div class="fb-share-button" data-href="http://www.triabox.com" data-layout="button_count"></div>

{# twitter#}
<div>

<a href="https://twitter.com/share" class="twitter-share-button" 
data-text="Red Social para deportistas Amateur -Calendario -Planificaciones -Resultados -Seguimiento Online" 
data-url="http://www.triabox.com/news/calendar" 
data-via="TriaBox" data-dnt="true">Tweet</a>

</div>