
<div class="story-time">
	<div class="btn-group">
		<button type="button" class="btn btn-info" target="_blank" data-mce-target="_blank"  onclick="window.open('http://twitter.com/share?text={{ comment }} via @TriaBox&url=http://www.triabox.com{{ url }}&hashtags=triabox')"><i class="fa fa-twitter"></i></button>
		<button type="button" class="btn btn-info btn-facebook" target="_blank" data-mce-target="_blank" 
		onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http://www.triabox.com{{ url }}')"><i class="fa fa-facebook"></i></button>
		
	</div>
</div>



