
					
							<div class="row" id="map_distancia">
								<div class="  col-xs-12">
									<div class="main-box infographic-box colored emerald-bg">
										<i class="fa fa-road"></i>
										<span class="headline">{% trans %}Distance{% endtrans %}</span>
										<span class="value">{{ distancia }}</span>
									</div>
								</div>

								<div class="  col-xs-12">
									<div class="main-box infographic-box colored emerald-bg">
										<i class="fa  fa-clock-o"></i>
										<span class="headline">{% trans %}Tiempo{% endtrans %} </span>
										<span class="value">{{ time }}</span>
									</div>
								</div>

								<div class="  col-xs-12">
									<div class="main-box infographic-box colored emerald-bg">
										<i class="fa fa-key"></i>
										<span class="headline">{% trans %}Promedio{% endtrans %} </span>
										<span class="value">{{ promedio }}</span>
									</div>
								</div>

							</div>